<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <!--<app-test-bar></app-test-bar>-->
  <!--<h3>-->
    <!--Graphs-->
  <!--</h3>-->
</div>

<!--<app-question>-->

<!--</app-question>-->
<div>
  <!--<label> The title is-->
  <!--<input type="text" [(ngModel)]="title">-->
    <!--<h2>{{title}}</h2>-->
  <!--</label>-->
  <app-table></app-table>
  <!--<app-example-component></app-example-component>-->
</div>

<div class="w3-small w3-hide">
  <p>Tech stack</p>
  <ul>
    Front End
    <li>Angular 5 + TypeScript</li>
    <li>D3.js</li>
  </ul>

  <ul>
    Back End (Micro service A)
    <li>Node.JS</li>
    <li>Express.js</li>
    <br>
    Back End (Micro service B)
    <li>Java 9</li>
    <li>Spring 4</li>
    <li>Eventuate</li>
    <br>
    DataBases
    <li>MongoDB</li>
    <li>MySQL</li>
  </ul>

</div>

<div class="w3-tiny w3-hide">
  SOME USEFULL LINKS
  <ul>
    <li>
      <a target="_blank" href="https://angular.io/docs/ts/latest/tutorial/">Tour of Heroes</a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </li>
    <li>
      <a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a>
    </li>
  </ul>
</div>

